<!DOCTYPE html>
<html>

<head>
    <title>Your Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Your Cart</h1>

    {% for item in cart %}
    <div class="item-container">
        <img src="{{ url_for('static', filename='images/' + item.image) }}" alt="{{ item.name }}" class="item-image">
        <div>
            <h2>{{ item.name }}</h2>
            <p>Price: {{ item.price }} CHF</p>
            <form method="post" action="{{ url_for('remove_from_cart', item_id=item.id) }}">
                <button type="submit">Remove from Cart</button>
            </form>
        </div>
    </div>
    {% endfor %}

    <a href="{{ url_for('index') }}" class="cart-link">Continue Shopping</a>

</body>

</html>
